@import url('https://fonts.googleapis.com/css?family=Ubuntu');
.App {
  font-family: 'Ubuntu' !important;
  text-align: center;
}

.App-logo {
  margin-bottom: 0.1em;
}

.App-header {
  background-color: #EAC205;
  height: 150px;
  padding: 10px;
  color: white;
}

.App-title {
  font-size: 1.3em;
  color: #071574;
  font-weight: bold;
  margin-bottom: 0.2em;
  margin-top: 0.1em;
}

.App-subtitle {
  font-size: 1.2em;
  color: #071574;
  font-weight: bold;
  margin-top: 0.1em;
}

.App-intro {
  font-size: large;
}

.cf {
  clear: both;
}

.quiz-wrapper {
  width: 50%;
  margin: 0 auto;
  text-align: left;
  /*border: 1px solid;*/
  margin-top: 3em;
  padding: 1%;
}

.quiz-page-title {
  text-align: center;
  margin-bottom: 1.5em;
}

.answer_wrapper {
  /*float: left;*/
  margin-bottom: 1em;
}

.posible_answer {
  float: left;
  margin-left: 0.5em;
}

.current_question_title {
  /*float: left;*/
  margin-bottom: 1em;
}

.next_question_buton {
  float: right;
  background: #293073;
  border: none;
  color: #FFF;
  padding: 1% 2%;
  font-weight: bold;
  border-radius: 12px;
}

.next_question_buton:hover {
  background: #071574;
}




@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
